<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
  </head>
  <body>
    <h1>Welcome to Gabble Messenger</h1>
    <nav>
      <a href="/">Gabbles</a>
      <a href="/gab">Create A New Gabble</a>
      <a href="/login">Login</a>
      <a href="/logout">Log out</a>
    </nav>
    {{{yield}}}
  </body>
</html>