<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabbles</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h3>Lets Talk Gabbler</h3>
    <form action="/gab" method="post">
      <textarea type="text" name="gabber" value="" placeholder="gabble here"></textarea><br>
      <button type="submit" name="gabButton">Gabble!</button>
    </form>
    <a href="/logout">Logout</a>
  </body>
</html>