<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabbles</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h3>Welcome New Gabbler</h3>
    <form action="/signup" method="post">
      <label>username</label>
      <input type="text" name="username" value="" placeholder="username"></input><br>
      <label>password</label>
      <input type="password" name="password" value="" placeholder="password"></input><br>
      <label>re-enter password</label>
      <input type="password" name="repassword" value="" placeholder="re-enter password"></input><br>
      <button type="submit" name="subButton">Submit</button>
    </form>
  </body>
</html>